.nav{  // for changing style of navbar
    color:brown !important;
    background-color: wheat !important;

    .nav_ul{
        li{
            display: inline;
        } 
        list-style-type: none;
    }
}

.viewButton{
    color: brown !important;
    background: orange !important;
    float: right !important;
}