.flex{ //card main div 
    display: flex;
    flex-wrap: wrap;
    // margin : 2%;
    justify-content:center;
}
.card{ //card styling
    padding:0.5em 1em;
    margin:2%;
    width:300px !important;
    border: 1px groove brown;
}

.card_header{
    height: 75px;
}

.card_image{ //card image styling
    object-fit: cover;
    height: 200px;
    width:100%;
}

.card_content{
    height: 175px;
}

.restaurant_link{
    text-decoration: none !important;
}

.category_button{
    text-align: center;
    color:brown !important;
    background: orange !important;
    margin-left:1em !important;
}

.details_button{
    text-align: center;
    color:brown !important;
    background: orange !important;
}

.avatar{
    background: orange !important;
    color :brown !important;
}

.resDetailsCard{
    width: 400px !important;
    margin :auto !important;
    padding: auto !important;
    justify-content: center !important;
}

.detail_card_content{
    padding: 2em 0em 2em 6em !important;
}

.existing_button{
    background: brown;
    color:orange;
    font-size: bold;
}

.res_details_card{
    margin-top:6em !important;
}